g
  transform-origin 50% 50%;

  circle {
    stroke-width: 2px
    stroke: red
  }


@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes move {
  from {  }
  to { transform: translate(0, 100px) }
}

