body.paused *
  animation-play-state: paused !important

g
  transform-origin 50% 50%;

  circle
    stroke-width: 2px
    stroke: #006699

    &.seed
      animation: hideshow 5s infinite alternate

  &.grow
    animation: grow 2s

@keyframes grow
  from { transform: scale(100%) }
  to {
    transform: scale(120%)
  }

.child.move
  animation: move 2s linear infinite alternate


@keyframes hideshow {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes move {
  from {  }
  to { transform: translate(0, 100%) }
}

